<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>

<form th:action="@{/logout}" method="post" style="display: inline;">
    <input type="submit" value="Logout">
</form>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username}">J</td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>

<a th:href="@{/admin/admin_list}">Go to Admin Tools</a>
</body>
</html>
