<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change User profile</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

<h1>User Profile</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
<div th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></div>
<form th:action="@{/update}" method="post" th:object="${user}">
    <input th:field="*{id}" type="hidden"/>
    <p>Username: <input th:field="*{username}" type="text"/></p>
    <p>Email: <input th:field="*{email}" type="email"/></p>
    <p>Password: <input th:field="*{password}" type="password"/></p>
    <p><input type="submit" value="Save Changes"/></p>
    <a th:href="@{/user}">Back to User</a>
</form>
</body>
</html>
